@{
    ViewBag.Title = "Queue";
}

<div class="w3-sidebar w3-bar-block" style="width:25%">
    <a href="@Url.Action("AddOne", "Queue")" class="w3-bar-item w3-button">Add one item to the Queue</a>
    <a href="@Url.Action("AddMany", "Queue")" class="w3-bar-item w3-button">Add 2,000 items to the Queue</a>
    <a href="@Url.Action("Display", "Queue")" class="w3-bar-item w3-button">Display Items in Queue</a>
    <a href="@Url.Action("Clear", "Queue")" class="w3-bar-item w3-button">Clear Items in Queue</a>
    <a href="@Url.Action("Search", "Queue")" class="w3-bar-item w3-button">Search for 'New Entry 1000' in Queue</a>
</div>

<h2>Queue</h2>

<div class="status">
    @Html.ViewBag.Status
    @if (ViewBag.StopWatch != null)
    {
        <p>Time Elapsed: @Html.ViewBag.StopWatch</p>
    }
</div>
<table>
    @if (ViewBag.Queue != null)
    {
        foreach (var item in ViewBag.Queue)
        {
            <tr>
                <td>@item</td>
            </tr>
        }
    }
</table>